In [33]:
import praw
import csv
import pandas as pd
# Initialize PRAW with your credentials
reddit = praw.Reddit(
     client_id='SKBzdxagSc-mu_fTUVp7vg',
     client_secret='rKbnR1vRL8gChQFeWkEfPRsbOVhPNA',
     user_agent='Consistent-Ad-8981'
)

# Specify the subreddit you want to scrape
subreddit = reddit.subreddit('SuicideWatch')

In [34]:
# Open a CSV file for writing
csv_file_path = 'SuicideWatch.csv'
with open(csv_file_path, 'w', newline='', encoding='utf-8') as csvfile:
    # Create a CSV writer object
    csv_writer = csv.writer(csvfile)

    # Write header row
    csv_writer.writerow(['Title', 'Content', 'Label'])

    # Example: write titles and fixed label (1) of the top 1000 hot posts in the subreddit
    count = 0
    for submission in subreddit.hot(limit=None):  # None means no limit
        if submission.stickied:  # Skip stickied posts
            continue

        title = submission.title
        content = submission.selftext if submission.selftext else submission.url

        # Write the data to the CSV file
        csv_writer.writerow([title, content, 1])

        count += 1
        if count >= 1000:
            break

print(f"Data has been written to {csv_file_path}")

Data has been written to SuicideWatch.csv

In [46]:
# Combine Dataset

In [50]:
happy = pd.read_csv('happy.csv')
happy.info()
happy_df = happy[['Title', 'Label']]
happy_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 670 entries, 0 to 669
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Title    670 non-null    object
 1   Content  670 non-null    object
 2   Label    670 non-null    int64
dtypes: int64(1), object(2)
memory usage: 15.8+ KB

                                               Title  Label
0  My parents were long distance up until 8 month...      0
1  When you go out and buy matching outfits for y...      0
2  I was able to help deliver a baby about 30 min...      0
3   Finally got to kiss my crush and it felt so good      0
4  Hey Reddit, I wrote a book back in August. It'...      0

In [51]:
depression = pd.read_csv('depression.csv')
depression.info()
depression_df = depression[['Title', 'Label']]
depression_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 969 entries, 0 to 968
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Title    969 non-null    object
 1   Content  969 non-null    object
 2   Label    969 non-null    int64
dtypes: int64(1), object(2)
memory usage: 22.8+ KB

                                               Title  Label
0  I’m 7 months pregnant and I’m about to end it ...      1
1                     Why do compliments make me sad      1
2             I wish I could delete myself from life      1
3                           I haven't left bed today      1
4                    I just want someone to talk to…      1

In [52]:
suicide = pd.read_csv('suicide.csv')
suicide.info()
suicide_df = suicide[['Title', 'Label']]
suicide_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 978 entries, 0 to 977
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Title    978 non-null    object
 1   Content  978 non-null    object
 2   Label    978 non-null    int64
dtypes: int64(1), object(2)
memory usage: 23.1+ KB

                                               Title  Label
0  Im probably a pedophile, should i just kill my...      1
1                         i lost the love of my life      1
2  How do people work and still find enjoyment in...      1
3                           No women want to date me      1
4                 Please help me i might kill myself      1

In [53]:
programming = pd.read_csv('learnprogramming.csv')
programming.info()
programming_df = programming[['Title', 'Label']]
programming_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Title    984 non-null    object
 1   Content  984 non-null    object
 2   Label    984 non-null    int64
dtypes: int64(1), object(2)
memory usage: 23.2+ KB

                                               Title  Label
0                Javascript - trying but no progress      0
1                                           Success!      0
2                  how useful is it to learn python?      0
3  What kind of programming skills/knowledge do y...      0
4  When did development stop feeling like climbin...      0

In [55]:
mentalhealth = pd.read_csv('Dataset/Mental-Health-Twitter.csv')
mentalhealth.info()
mentalhealth_df = mentalhealth[['post_text', 'label']]
mentalhealth_df = mentalhealth_df.rename(columns={'post_text': 'Title', 'label':'Label'})
mentalhealth_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20000 non-null  int64
 1   post_id       20000 non-null  int64
 2   post_created  20000 non-null  object
 3   post_text     20000 non-null  object
 4   user_id       20000 non-null  int64
 5   followers     20000 non-null  int64
 6   friends       20000 non-null  int64
 7   favourites    20000 non-null  int64
 8   statuses      20000 non-null  int64
 9   retweets      20000 non-null  int64
 10  label         20000 non-null  int64
dtypes: int64(9), object(2)
memory usage: 1.7+ MB

                                               Title  Label
0  It's just over 2 years since I was diagnosed w...      1
1  It's Sunday, I need a break, so I'm planning t...      1
2  Awake but tired. I need to sleep but my brain ...      1
3  RT @SewHQ: #Retro bears make perfect gifts and...      1
4  It’s hard to say whether packing lists are mak...      1

In [57]:
# Combine DataFrames vertically
combine_df = pd.concat([happy_df, depression_df, suicide_df, programming_df, mentalhealth_df], ignore_index=True)

In [58]:
combine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23601 entries, 0 to 23600
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   23601 non-null  object
 1   Label   23601 non-null  int64
dtypes: int64(1), object(1)
memory usage: 368.9+ KB

In [62]:
combine_df[combine_df['Label'] == 1]

                                                   Title  Label
670    I’m 7 months pregnant and I’m about to end it ...      1
671                       Why do compliments make me sad      1
672               I wish I could delete myself from life      1
673                             I haven't left bed today      1
674                      I just want someone to talk to…      1
...                                                  ...    ...
13596  RT @CSLewisU: "We all agreed that forgiveness ...      1
13597  Can't believe it's been a year. #blastyblast #...      1
13598  One year ago, a journey began. I never knew th...      1
13599  I found some new hammocking friends in the par...      1
13600                 @xanabby you'll grow to like it. 😂      1

[11947 rows x 2 columns]

In [64]:
# Specify the path where you want to save the CSV file
csv_file_path = 'Dataset/combined_data.csv'

# Write the DataFrame to a CSV file
combine_df.to_csv(csv_file_path, index=False)

print(f"DataFrame has been written to {csv_file_path}")

DataFrame has been written to Dataset/combined_data.csv